html, body {
    width:100%; height:100%;
    overflow: hidden;
    margin:0px; padding:0px;
}
html {
    margin:10px 0px;
    height:94%;
    position: absolute;
    text-align: center;
    background: #c1a367;
}
body {
    width:70%;
    margin:0px auto;
    padding:5px;
    background: #FFF;
    z-index: 1114;
    border-radius: 15px;
}
header {
    width:90%; height:75px;
    min-width: 320px;
    margin:5px;
    overflow: visible;
    display: block;
    text-align: center;
    padding:0px 5px;
    border-bottom:2px solid #553321;
    z-index: 215;
    position: relative;
}
#model { /* preview */
    border:2px solid #553321;
    width: 100px;
    height: 100px;
    position: relative;
    left:15px;
    top:10px;
    display:inline-block;
    float:right;
    margin-left: auto;
    background: #FFF;
    -webkit-transition:all 1s ease-out;
    -moz-transition:all 1s ease-out;
    transition:all 1s ease-out;
}
#model:hover {
    -webkit-transform: scale(2.5)translate(-29px,29px);
    -moz-transform: scale(2.5)translate(-29px,29px);
    transform: scale(2.5)translate(-29px,29px);
    opacity: 0.7;
}

#draggable {
    width: 150px; 
    height: 150px;
    line-height: 140px;
    text-align:center;
    background-color:#553321;
    z-index: 2;
}

.graph, .shape, .model-shape {
    /* default size */
    width:50px; height:50px;
    
    background-size: contain;
    background-repeat: no-repeat;
}
#shapeContainer .shape {
    float:left;
    margin:10px;
}
#shapeContainer .shape:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}


body div#shapeHolders {
    background: #FFFFFF;
    width:600px;
    height:400px;
    min-width: 256px;
    min-height: 256px;
    margin: 15px;
    border:1px solid #553321;
    margin-right: auto;
    margin-bottom: none;
}
#shapeHolders .container, #model .container {
    position:relative;
    left:0px;
    top:0px;
    overflow: visible;
    width:0px;
    height:0px;
}
#shapeHolders .container .shape, #shapeHolders .container .graph, #model .container .model-shape {
    position: relative;
}
#shapeHolders .highlight-grab {
}
#shapeHolders .highlight-hover {
}