body {
    background-color: #c2cfff;
    text-align: center;
}

a {
    background-image: radial-gradient(transparent, rgba(255,255,255,0.5), transparent, transparent, transparent);
    background-position: -44px -64px;
    background-size: 512px 412px;
    background-repeat: no-repeat;
    text-decoration: none;
    color:#FFF;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6), 0px -1px 1px rgba(0,0,0,0.6);
    padding:20px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 45pt;
    color:rgba(255,230,230,1);
    border-radius: 15px;
    border:3px solid rgba(255,255,255,0.5);
    box-shadow:       0px 0px 10px #FAA,
                inset 0px -5px 15px rgba(0,0,0,0.2),
                inset 0px 5px 15px rgba(255,255,255,0.3);
    background-color: #FAA;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 25px;
    float:left;
    width: 128px; height:128px;
    
}
a:hover { /* mouse em cima */
    box-shadow:       0px 0px 10px #FAA,
                inset 0px -5px 10px rgba(0,0,0,0.3),
                inset 0px 5px 10px rgba(255,255,255,0.4);
}
a:active { /* clique */
    box-shadow:       0px 0px 10px #FAA,
                inset 0px 5px 15px rgba(0,0,0,0.2),
                inset 0px -5px 15px rgba(255,255,255,0.3);
}