html, body {
    width:100%; height:100%;
    overflow: hidden;
    margin:0px; padding:0px;
}
html {
    margin:10px 0px;
    height:94%;
    position: absolute;
    text-align: center;
    background: #c2cfff;
}
body {
    width:70%;
    margin:0px auto;
    padding:5px;
    background: #FFF;
    z-index: 1114;
}
header {
    width:90%; height:75px;
    min-width: 320px;
    margin:5px;
    overflow: visible;
    display: block;
    text-align: center;
    padding:0px 5px;
    border-bottom:2px solid #BBB;
    z-index: 215;
    position: relative;
}
#model {
    border:2px solid #BBB;
    width: 100px;
    height: 100px;
    position: relative;
    left:15px;
    top:10px;
    display:inline-block;
    float:right;
    margin-left: auto;
    background: #FFF;
    -webkit-transition:all 1s ease-out;
}
#model:hover {
    -webkit-transform: scale(2.5)translate(-29px,29px);
    opacity: 0.7;
}

#draggable {
    width: 150px; 
    height: 150px;
    line-height: 140px;
    text-align:center;
    background-color:#6797c3;
    z-index: 2;
}

.shape {
    float:left;
    width:50px;
    height:50px;
    background: #000;
    margin:10px;
}
#shapeContainer .shape:hover {
    -webkit-transform: scale(1.2);
}
.square {
    /* default */
}
.circle {
    border-radius: 90px;
}
.horizontal {/* only for circle and square */
    width:75px;
    height:25px;
    position: relative;
    top:12px;
}
.vertical {
    width:25px;
    height:75px;
    position: relative;
    top:-12px;
}

.triangle { /* default equilatero */
    width:0px;
    height:0px;
    border:50px solid transparent;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    position: relative;
    top:-50px;
}
#shapeContainer .triangle:hover {
    -webkit-transform: scale(1.2)translate(0px,-5px);
}
.isosceles {
    border-left-width: 25px;
    border-right-width: 25px;
}
.reto-left {
    border:25px solid transparent;
    border-right-color: white;
    border-top-color: white;
    top:0px;
}
.reto-right {
    border:25px solid transparent;
    border-left-color: white;
    border-top-color: white;
    top:0px;
}

.shapeholder {
    background:none !important;
    border:1px solid #000;  
    position: relative;
    z-index: 1;
}

/* styling to shapeholders look like empty */
#shapeHolders .square:not(.cheese), #shapeHolders .circle:not(.cheese) {
    background: #FFF !important;
    border:1px solid #000;
}
#shapeHolders .square, #shapeHolders .circle {
    z-index: 90;
    position: absolute;
}
#shapeHolders .triangle:not(.cheese) {
    background: #000 !important;
}
#shapeHolders .triangle {
    z-index: 90;
    position: absolute;
}
#shapeHolders .equilatero:not(.cheese):after,
#shapeHolders .isosceles:not(.cheese):after,
#shapeHolders .reto-left:not(.cheese):after,
#shapeHolders .reto-right:not(.cheese):after
{
    content:"";
    display:inline-block;
    position: relative;

    border:47px solid transparent;

    width: 0px; height: 0px;
    left:-47px; top:-45px;

    z-index: -1;
}
#shapeHolders .equilatero:not(.cheese):after {
    border-bottom-color: #FFF;
}
#shapeHolders .isosceles:not(.cheese):after {
    border-bottom-color: #FFF;
    border-left-width:23px;
    border-right-width:23px;
    left:-23px;
}
#shapeHolders .reto-left:not(.cheese):after {
    border-bottom-color: #FFF;
    border-left-color: #FFF;
    border-width:22px;
    left:-23px;
    top:-21px;
}
#shapeHolders .reto-right:not(.cheese):after {
    border-bottom-color: #FFF;
    border-right-color: #FFF;
    border-width:22px;
    left:-21px;
    top:-21px;
}
.activeFeedbackClass {
    box-shadow: 0px 0px 5px 2px #F00;
}
.hoverFeedbackClass {
    box-shadow: 0px 0px 10px 4px #00F;
}