#content {
    padding-top:35px;
}
body,html {
    width:800px;
}
a { 
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6), 0px -1px 1px rgba(0,0,0,0.6);
    font-family: sans-serif;
    font-weight: bold;
    color:rgba(255,230,230,1);
    border:3px solid rgba(255,255,255,0.5);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float:left;
    
    box-shadow:       0px 0px 10px #553321,
                inset 0px -5px 15px rgba(0,0,0,0.2),
                inset 0px 5px 15px rgba(255,255,255,0.3);
    padding:5px 10px;
    font-size: 45pt;
    margin: 5px;
    width: 128px; height:128px;
    border-radius: 15px;
    
}
a:hover { /* mouse em cima */
    box-shadow:       0px 0px 20px #BBF,
                inset 0px -5px 20px rgba(0,0,0,0.3),
                inset 0px 5px 20px rgba(255,255,255,0.4);
    color:#BBF;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6),
                0px -1px 1px rgba(0,0,0,0.6),
                0px 0px 20px #BBF;
}
a:active { /* clique */
    box-shadow:       0px 0px 20px #FFF,
                inset 0px 5px 25px rgba(0,0,0,0.2),
                inset 0px -5px 25px rgba(255,255,255,0.3);
}

.glossyBackground {
    background-image: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.3)), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background-image: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* Opera 12+ */
    background-image: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.30) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* IE10+ */
    background-image: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffaa', endColorstr='#00ffffaa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    background-position: -444px -120px;
    background-size: 812px 512px;
    background-repeat: no-repeat;
}
.glossyBackground:hover {
    background-position: -449px -125px;
    background-repeat: no-repeat;
}
.glossyBackground .difficulty-indicator { /* the image in each block */
    opacity: 0.7;
    
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width:120px;
    height:120px;
}
.glossyBackground:hover .difficulty-indicator {
    opacity: 0.9;
    
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
}

.big {
    box-shadow:       0px 0px 20px #553321,
                inset 0px -10px 30px rgba(0,0,0,0.2),
                inset 0px 10px 30px rgba(255,255,255,0.3);
    padding:10px 15px;
    font-size: 34pt;
    margin: 12px;
    width: 204px; height:204px;
    border-radius: 10px;
    
    background-position: -688px -280px;
    background-size: 1124px 524px;
    background-repeat: no-repeat;
    display: table-cell;
    vertical-align: middle;
}
.big:hover {
    background-position: -688px -290px;
    background-repeat: no-repeat;
}


#dropitLogo {
    border:1px solid #000;
    position: absolute;
    padding: 10px;
    padding-bottom: 2px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -60px;
    margin-top: -15px;
    background-color: #c1a367;
}
#dropitLogo img {
    width:100px;
    height: 30px;
}